body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    padding-top: 200px;
}

.voting-options {
    margin-top: 20px;
}

.voting-options h2 {
    padding-left: 10px;
}

.option {
    display: inline-block;
    width: calc(30% - 20px);
    margin: 10px;
    background-color: #4caf50;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

.option:hover {
    background-color: #45a049;
}   

.option-label {
    font-weight: bold;
    color: white
}
