<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            box-sizing: border-box;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .sections-container {
            display: flex;
            justify-content: space-between;
        }

        .section {
            width: 30%; /* Adjust the width as needed */
        }

        .section-title {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .section-title-report {
            font-size: 20px;
            margin-bottom: 10px;
            text-align: right;
            margin-right: 20px
        }

        .section-title-users {
            font-size: 20px;
            margin-bottom: 10px;
            margin-left: 20px
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .buttons-users {
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
        }


        .option {
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .option:focus {
            outline: none;
        }

        .option:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome Admin</h1>
        </div>

        <div class="sections-container">
            <div class="section">
                <h2 class="section-title-users">Users</h2>
                <div class="buttons-users">
                    <button class="option" onclick="goToUsers()">Create/Edit Users</button>
                </div>
            </div>

            <div class="section">
                <h2 class="section-title">Professional Societies</h2>
                <div class="buttons">
                    <% if (soc_names && soc_names.length) { %>
                        <% for (let name of soc_names) { %>
                            <button class="option" onclick="goToSociety('<%= name %>')"><%= name %></button>
                        <% } %>
                    <% } else { %>
                        <p>No society names found.</p>
                    <% } %>
                </div>
            </div>

            <div class="section">
                <h2 class="section-title-report">Report Generation</h2>
                <div class="buttons">
                    <button class="option" onclick="generateReport('society')">Society Statistics</button>
                    <button class="option" onclick="generateReport('system')">System Statistics</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function goToUsers() {
            window.location.href = '/admin_page/users/';
        }
        function goToSociety(name) {
            window.location.href = '/soc_assigned/' + encodeURIComponent(name);
        }

        function generateReport(type) {
            if (type === 'society') {
                // Code to generate SOC report
            } else if (type === 'system') {
                // Code to generate Stat report
            }
        }

        function checkTokenLocalStorage() {
            if (!localStorage.getItem('token')) {
                // Redirect to login page if token doesn't exist in localStorage
                window.location.href = '/';
            }
        }
        function logout() {
            localStorage.removeItem('token');
            // Redirect to login page after logout
            window.location.href = '/';
        }
        // Function to handle the pageshow event
        function handlePageShow(event) {
            if (event.persisted) {
                // If the page is shown from the cache (e.g., when navigating back),
                // check if the token is still in local storage
                checkTokenLocalStorage();
            }
        }

        // Add event listener for the pageshow event
        window.addEventListener('pageshow', handlePageShow);

    </script>

</body>
</html>
