<!-- ballot_initiatives.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ballot Initiative Options</title>
    <style>
        /* Your CSS styles */
    </style>
</head>
<body>
    <div class="container">
        <h2>Ballot Initiative Options</h2>
        <div class="order">
            <span>Select Order:</span>
            <select id="orderSelect" onchange="sortCandidates()">
                <option value="ascending">Newest to Oldest</option>
                <option value="descending">Oldest to Newest</option>
            </select>
        </div>
        <div class="ballot-options">
            <% initiatives.forEach(initiative => { %>
                <div class="option">
                    <div class="option-description"><%= initiative.description %></div>
                    <input type="checkbox">
                </div>
            <% }); %>
        </div>
        <div class="suggestions">
            <label for="suggestion">Suggestions</label>
            <input type="text" id="suggestion" name="suggestion">
        </div>
        <div class="buttons">
            <button type="button" onclick="goToCombinedPage()">Previous</button>
            <button type="button" onclick="showVotesPopup()">Submit</button>
            <button type="button" onclick="confirmSkip()">Skip</button>
        </div>
    </div>

    <script>
        function showVotesPopup() {
            alert("Votes added.");
            // Redirect to another page after showing the alert
            window.location.href = "login.html";
        }

        function confirmSkip() {
            if (confirm("Are you sure you want to skip?")) {
                showNoVotesPopup();
            }
        }

        function showNoVotesPopup() {
            alert("No votes added.");
            window.location.href = "login.html";
        }

        function goToCombinedPage() {
            window.location.href = "combined_pres_vp.html";
        }

    </script>

    <script src="main.js"></script>

</body>
</html>
