<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Create Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
        }

        h1 {
            padding-top: 100px;
        }

        .buttons {
            display: flex;
            justify-content: center;
        }

        .option {
            padding: 10px 20px;
            margin: 0 10px;
            border: none;
            border-radius: 5px;
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .option:focus {
            outline: none;
        }

        .option:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to <%= societyName %></h1>
        <h2>Create Ballots and Ballot Initiatives</h2>
            <div class="buttons">
                <button class="option soc1" onclick="goToBallot()">Ballot</button>
                <button class="option soc2" onclick="goToBallotInitiative()">Ballot Initiative</button>
                <button class="option soc2" onclick="goToElectionResults()">Election Results</button>
            </div>
        </div>
    <div>

    <script>
        // Function to check if token in localstorage
        function checkTokenLocalStorage() {
            if (!localStorage.getItem('token')) {
                // Redirect to login page if token doesn't exist in localStorage
                window.location.href = '/';
            }
        }
        function logout() {
            localStorage.removeItem('token');
            // Redirect to login page after logout
            window.location.href = '/';
        }
        // Function to handle the pageshow event
        function handlePageShow(event) {
            if (event.persisted) {
                // If the page is shown from the cache (e.g., when navigating back),
                // check if the token is still in local storage
                checkTokenLocalStorage();
            }
        }

        // Add event listener for the pageshow event
        window.addEventListener('pageshow', handlePageShow);

    </script>

</body>
</html>
