body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    padding-top: 150px;
}

.ballot-options {
    margin-top: 20px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.option input[type="checkbox"] {
    margin-right: 10px; /* Adjusted margin to separate checkbox from description */
    width: 30px; /* Increase size of checkboxes */
    height: 30px; /* Increase size of checkboxes */
}

.option-description {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.suggestions {
    margin-top: 20px;
}

.suggestions label {
    display: block;
    margin-bottom: 5px;
}

.suggestions input[type="text"] {
    width: 90%;
    padding: 15px; /* Increased padding for text field */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.buttons button:focus {
    outline: none;
}

.buttons button:hover {
    background-color: #45a049;
}
